/*

html {
  margin: 0; padding: 0;
}

body 
{
  font-family: arial;
  margin:0;padding:2.5em;
  font-size: 0.8em;
  line-height:1.5em;
  background-color:White;
}

body.start {
  background: #e9f2f5 url("../img/side-bg.png") repeat-y;
  padding:0;
}

body.navigation-body
{
  padding:0.5em;
}


.navigation 
{
  padding: 0.5em;
  margin-bottom:2em;
}
body.start h1,
.navigation h2 {color:#007DAD;font-family: "TW Cen MT", "Gill Sans MT", "Century Gothic", "Trebuchet MS", Arial, Sans-Serif;}
.navigation a {cursor:pointer;cursor:hand;}
.navigation a:hover {color:Black;}

*/



.acceptance-criteria-dropdown {position: relative}
.acceptance-criteria {border:1px solid #808080;position: absolute; left: 0; top:30px; background-color: #fff; display: none;}
.acceptance-criteria ul {list-style: none; margin:0; padding:20px 15px;}
.acceptance-criteria p {font-weight: bold; margin: 0 0 5px}
.acceptance-criteria label {font-weight: normal;}

#collapse_assessment_criteria div  {overflow: visible;}
tbody.assesmentCriteria td {overflow: visible;}
tbody.assesmentCriteria td .assassesmentCriteriaDropdown {position: relative;overflow: visible;}

.bringtofront
{
z-index: 10000;
}

.overflow 
{
z-index: -1;
overflow: hidden;
}



#category_options a,
.categoriesThemselves a,
a
{
  color: #05F;
  color: #388ccc; /* multiple of header, more saturated and darker */
  text-decoration: none;
}


.categories
{
  /*position: absolute;*/
  bottom: 5px; left:0;
  width: 60%;
}

.categoriesThemselves
{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#category_options
{
  position: absolute;
  top: 100px; 
  left: 100px;
  z-index: 100000;
  border: 1px solid #828b94;
  border-left: none;
  border-right: none;
  background-image: url(catlist.png);
  background-repeat: no-repeat;
  background-position: top left;
  display: none;
  padding: 1em;
}

#category_options li,
#category_options ul 
{
margin: 0;
padding: 0;
list-style-type: none;
}

#category_options label 
{
cursor: pointer;
cursor: hand;
}

.boxc
{
  clear: both;
  padding: 0em 0.3em;
  text-align: center;
}

.boxside-left
{
  width: 1px;
  height: 100%;
  background-color: #828b94;
  position: absolute;
  top: 0px;
  left: -1px;
}

.boxside-right
{
  width: 1px;
  height: 100%;
  background-color: #828b94;
  position: absolute;
  top: 0px;
  right: -1px;
}